body {
  background: radial-gradient(circle at top, #0d0d1f, #000000);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  line-height:1.7;
}

/* couche étoiles */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image:
    radial-gradient(2px 2px at 20% 30%, white, transparent),
    radial-gradient(2px 2px at 70% 80%, white, transparent),
    radial-gradient(2px 2px at 40% 60%, white, transparent),
    radial-gradient(2px 2px at 90% 20%, white, transparent);

  opacity: 0.4;
  pointer-events: none;
 
} body::before,
body::after {
  z-index: -1;
}
/* aura magique */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: radial-gradient(circle at center, rgba(120, 90, 255, 0.15), transparent 70%);
  pointer-events: none;
}

/* zone principale */
main {
  max-width: 900px;
  margin: auto;
  padding: 40px;
}

/* titre principal */
h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #e6d7ff;
  text-shadow:
    0 0 10px #8a6cff,
    0 0 20px #6f52ff,
    0 0 40px #3b2aff;
  margin-bottom:60px;
}

/* titres secondaires */
h2 {
  color: #8b5cf6;
  margin-top: 40px;
}

/* paragraphes */
p {
  font-size:1.15rem;
line-height:1.8;
color:#d6d6f5;
max-width:700px;
margin-bottom:25px;
}


/* header */
header {
  text-align: center;
  border-bottom: 1px solid #222;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

/* footer */
footer{
text-align:center;
margin-top:80px;
padding:40px 20px;
border-top:1px solid rgba(139,92,246,0.2);
}

footer .contact-button{
display:inline-block;
margin-bottom:20px;
padding:12px 28px;
border:1px solid #8b5cf6;
color:white;
text-decoration:none;
border-radius:6px;
transition:0.3s;
}

.copyright{
font-size:0.9rem;
color:#777;
}

nav{
background:rgba(20,20,32,0.8);
padding:15px;
backdrop-filter:blur(8px);
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:0 20px;
font-weight:bold;
position:relative;
}

nav a::after{
content:"";
position:absolute;
width:0;
height:2px;
background:#8b5cf6;
left:0;
bottom:-5px;
transition:0.3s;
}

nav a:hover::after{
width:100%;
}
.logo {
   width: 650px;
  display: block;
  margin: 120px auto 40px auto;
 filter:drop-shadow(0 0 15px #7c3aed);
  animation: magicGlow 3s infinite;
 max-width: 90%;
}
@keyframes magicGlow {
  0% {
    filter: drop-shadow(0 0 10px #7c3aed);
  }
  50% {
    filter: drop-shadow(0 0 20px #a78bfa);
  }
  100% {
    filter: drop-shadow(0 0 10px #7c3aed);
  }
}
.hero{
  display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
  text-align:center;
  padding:80px 20px 120px 20px;
}

.tagline{
  font-size:1.3rem;
  margin-top:20px;
  color:#c4b5fd;
  letter-spacing:1px;
}

.enter-world{
  display:inline-block;
  margin-top:25px;
  padding:12px 28px;
  border:1px solid #8b5cf6;
  color:white;
  text-decoration:none;
  font-weight:bold;
  border-radius:6px;
  transition:0.3s;
}

.enter-world:hover{
  background:#8b5cf6;
  box-shadow:0 0 20px #8b5cf6;
}
.hero img,
.hero .tagline,
.hero .enter-world {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeMagic 1.5s ease forwards;
}

.hero .tagline {
  animation-delay: 0.6s;
}

.hero .enter-world {
  animation-delay: 1.2s;
}

@keyframes fadeMagic {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes starMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}

body::before{
animation: starMove 120s linear infinite;
}

.shooting-star{
position:fixed;
top:20%;
left:-100px;
width:3px;
height:3px;
background:white;
box-shadow:0 0 10px white,0 0 20px white;
transform:rotate(45deg);
animation:shoot 8s linear infinite;
}

@keyframes shoot{
0%{
transform:translateX(0) translateY(0) rotate(45deg);
opacity:1;
}
100%{
transform:translateX(120vw) translateY(50vh) rotate(45deg);
opacity:0;
}
}
.synopsis-box{
background:rgba(20,20,40,0.6);
padding:40px;
border-radius:10px;
border:1px solid rgba(139,92,246,0.2);
box-shadow:0 0 25px rgba(139,92,246,0.15);
}
html{
scroll-behavior:smooth;
}
#citation{
text-align:center;
font-style:italic;
margin:80px auto;
max-width:600px;
color:#c4b5fd;
font-size:1.2rem;
border-left:3px solid #8b5cf6;
padding-left:20px;

}
.contact-button{
background:transparent;
border:1px solid #8b5cf6;
color:#e6d7ff;
padding:12px 26px;
border-radius:6px;
cursor:pointer;
font-family:'Inter',sans-serif;
transition:all 0.3s ease;
}

.contact-button:hover{
background:#8b5cf6;
color:white;
box-shadow:0 0 15px #8b5cf6;
}
.contact-hidden{
display:none;
}
.contact-visible{
display:block;
margin-top:20px;
animation:fadeContact 0.4s ease;
}

@keyframes fadeContact{
from{
opacity:0;
transform:translateY(10px);
}

to{
opacity:1;
transform:translateY(0);
}
}
/* état initial */

.reveal-text{
opacity:0;
transform:translateY(40px);
transition:all 1s ease;
}

/* quand visible */

.reveal-text.visible{
opacity:1;
transform:translateY(0);
}

/* texte doré animé */
.univers-page .reveal-text.visible p{

background: linear-gradient(
90deg,
#d6c07a,
#f2e3a0,
#fff6c8,
#f2e3a0,
#d6c07a
);

background-size:200% auto;

background-clip:text;
-webkit-background-clip:text;

color:transparent;
-webkit-text-fill-color:transparent;

animation:goldSweep 2.5s ease forwards;

}
@keyframes goldSweep{

0%{
background-position:-300% center;
}

100%{
background-position:300% center;
}

}

@keyframes goldReveal{
0%{
background-position:-200% center;
}
100%{
background-position:200% center;
}
}
#portal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background: radial-gradient(circle, rgba(255,215,120,0.9), rgba(10,10,30,1));
opacity:0;
pointer-events:none;
transition:opacity 0.8s ease;
z-index:999;
}

#portal.active{
opacity:1;
}
.characters{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
align-items:stretch;
}
.character-card:hover{
transform:translateY(-8px);
}


.character-profile{

max-width:800px;

margin:auto;

text-align:center;

padding:40px;

background:rgba(20,20,40,0.6);

border-radius:10px;

border:1px solid rgba(139,92,246,0.2);

box-shadow:0 0 25px rgba(139,92,246,0.15);

}

.character-profile img{

width:220px;

margin-bottom:20px;

}

.character-intro{

font-size:1.2rem;

color:#c4b5fd;

}
.character-card{

display:flex;
  
height:100%;
  
flex-direction:column;

background:rgba(20,20,40,0.6);

padding:20px;

border-radius:12px;

overflow:hidden;

text-decoration:none;

color:white;

border:1px solid rgba(139,92,246,0.2);

box-shadow:0 0 20px rgba(139,92,246,0.15);

text-align:center;

transition:all 0.3s ease;

}


.character-info{

padding:25px;
flex-grow:1;
text-align:center;

}
.character-info p{
opacity:0.9;
line-height:1.6;
}
.character-card:hover{

transform:translateY(-8px);
box-shadow:0 0 30px rgba(139,92,246,0.4);

}
.camelia-card:hover{
  
box-shadow:0 0 35px rgba(120,255,160,0.6);
background:rgba(20,40,30,0.9);

}
.character-card img{
width:100%;
height:auto;
display:block;
border-radius:10px 10px 0 0;
max-height:420px;
object-fit:cover;  
}
.camelia-card:hover{
box-shadow:0 0 35px rgba(120,255,160,0.6);
  
border:1px solid rgba(120,255,150,0.4);

background:rgba(20,40,30,0.6);

}
.lore-section{

max-width:800px;
margin:80px auto;

background:rgba(20,20,40,0.6);

padding:40px;

border-radius:10px;

border:1px solid rgba(139,92,246,0.2);

box-shadow:0 0 20px rgba(139,92,246,0.15);

}
.rose-page{
background: radial-gradient(circle at top, #1a0d2e, #000000);
}
.rose-page::after{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background: radial-gradient(circle, rgba(180,120,255,0.15), transparent 70%);

pointer-events:none;
z-index:-1;
}
/* HERO IMAGE SEULE */
.rose-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.rose-hero img {
  max-width: 600px;
  width: 100%;
  filter: drop-shadow(0 0 40px #a78bfa);
}

/* SECTION TITRE */
.rose-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
   display: flex;
  flex-direction: column;
  align-items: center;
}

/* TITRE STYLE AFFICHE */
.rose-title h1 {
  font-size: 3.5rem;
  color: #e9d5ff;
  text-shadow: 0 0 25px #8b5cf6;
  letter-spacing: 2px;
}

/* CITATION */
.rose-title p {
  margin-top: 15px;
  font-style: italic;
  color: #c4b5fd;
  opacity: 0.9;

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
/* CONTENU GRID */
.rose-content {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* CARTES MODERNES */
.lore-card {
  background: rgba(20,20,40,0.6);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid rgba(139,92,246,0.2);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.lore-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(139,92,246,0.4);
}

.lore-card h2 {
  margin-bottom: 10px;
  color: #a78bfa;
}
/* TITRE PAGE */
.personnages-page h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  text-shadow: 0 0 20px #8b5cf6;
}

/* GRID */
.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

/* CARTES */
.character-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background: rgba(20,20,40,0.6);
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

/* IMAGE */
.character-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* OVERLAY TEXTE */
.character-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.8),
    transparent
  );
}

/* HOVER */
.character-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 0 40px rgba(139,92,246,0.4);
}d18.03*/
